{% extends 'global/base.html' %}

{% block conteudo %}

  <div class="form-wrapper">

    <h2>Nova Requisição</h2>

    <form 
      action=""
      method="POST"
      enctype="multipart/form-data"
    >
    {% csrf_token %}

    
       
            <div class="form-group">
                <label for="{{ form2.equipamento.id_for_label }}" class="col-6"><strong>{{ form.funcionario.label }}</strong></label>
                {{ form.funcionario}}
             
                <label for="{{ form2.quantidade.id_for_label }}"class="col-6"><strong>{{ form.observacao.label }}</strong></label>
                {{ form.observacao }}
            </div>
      
        <h2>Itens da Requisição</h2>

        
        <div id="estoque" class="form-group ">
   
            
          <div id="item-estoque"class="form-group " >
          <label for="{{ form2.equipamento.id_for_label }}" class="col-6"><strong>{{ form.equipamento.label }}</strong></label>
          {{ form.equipamento }}
       
          <label for="{{ form2.quantidade.id_for_label }}"class="col-6"><strong>{{ form.quantidade.label }}</strong></label>
          {{ form.quantidade_saida }}
          </div>
        


      </div>
      <div class="form-content" style="margin-bottom: 10px;">
        <span id="add-item" class="btn btn-success " style="margin-top: 10px;">
          <i class="fa fa-plus"></i> Adicionar item
        </span>
      </div>


      <div class="form-content">
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Cadastrar</button>
        </div>
      </div>

    </form>
  </div>
{% endblock conteudo %}