{% extends 'global/base.html' %}

{% block conteudo %}

  <div class="form-wrapper">

    <h2>Cadastrar Funcionário</h2>

    <form 
      action=""
      method="POST"
      enctype="multipart/form-data"
    >
    {% csrf_token %}

    
      {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
            {{ field }}
          </div>
        {% endfor %}
      </div>

      <div class="form-content">
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Cadastrar</button>
        </div>
      </div>

    </form>
  </div>
{% endblock conteudo %}